<!DOCTYPE html>
<html>
<head>
    <h1 class="text-center">Add your income here</h1>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
            <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        .button-group {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        .button-group .btn {
            margin: 0 5px;
            flex: 1;
        }
    </style>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
    <div class="button-group">
        <button  type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-primary" href="{% url 'income_list' %}">Get Income List</a>
        <a class="btn btn-primary" href="{% url 'home' %}">Back to home</a>
    </div>
    </form>
</body>
</html>

