{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Compare analysis</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
  <div class="container">
    <h2 class="text-center">Compare</h2>
    <div class="text-center">
      <img src="{% static 'compare.png' %}" alt="Compare">
    </div>
    <h2 class="text-center">Heatmap</h2>
    <div class="text-center">
      <img src="{% static 'heatmap.png' %}" alt="Heatmap">
    </div>
  </div>
</body>
</html>