<!DOCTYPE html>
<html>
<head>
    <title>Expense List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <h1>Expense List</h1>
     <form method="POST" action="{% url 'expense_list' %}">
        {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Payment Method</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.currency }}</td>
                    <td>{{ expense.payment_method }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                        <button type="submit" name="delete" value="{{ expense.id }}" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No expenses available</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    <a class = "btn btn-primary " href="{% url 'add_expense' %}">Add Expense</a>
    <a class = "btn btn-primary " href="{% url 'home' %}">Back</a>
</body>
</html>
