{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Income Graph</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
 <div class="container">
    <h2 class="text-center">Income line graph</h2>
    <div class="text-center">
      <img src="{% static 'income_graph.png' %}" alt="Income Graph">
    </div>

    <h2 class="text-center">Income pie chart</h2>
    <div class="text-center">
      <img src="{% static 'income_equal.png' %}" alt="Income Graph">
    </div>
  </div>
</body>
</html>