{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Expense analysis</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
  <div class="container">
    <h2 class="text-center">Expense histogram</h2>
    <div class="text-center">
      <img src="{% static 'expense_amount_histogram.png' %}" alt="Expense Amount Histogram">
    </div>
    <h2 class="text-center">Expense bar chart</h2>
    <div class="text-center">
      <img src="{% static 'expense_bar_chart.png' %}" alt="Expense Bar Chart">
    </div>
    <h2 class="text-center">Expense line graph</h2>
    <div class="text-center">
      <img src="{% static 'expense_graph.png' %}" alt="Expense Line Graph">
    </div>
    <h2 class="text-center">Expense pie chart</h2>
    <div class="text-center">
      <img src="{% static 'expense_equal.png' %}" alt="Expense equal">
    </div>
  </div>
</body>
</html>

