<h2>Welcome, {{ username }}</h2>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<a class = "btn btn-primary " href="{% url 'add_income' %}">Add Income</a>
<a class = "btn btn-primary " href="{% url 'add_expense' %}">Add Expense</a>
<a class = "btn btn-primary " href="{% url 'income_list' %}">View my income list</a>
<a class = "btn btn-primary " href="{% url 'expense_list' %}">View my expense list</a>
<a class = "btn btn-primary " href="{% url 'logout' %}">Logout</a>
<a class = "btn btn-primary " href="{% url 'graph_income' %}">Get graph income</a>
<a class = "btn btn-primary " href="{% url 'graph_expense' %}">Get graph expense</a>