<!DOCTYPE html>
<html>
<head>
    <title>Income List</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
          <style>
        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h1 class="text-center">Income List</h1>
        <form method="POST" action="{% url 'income_list' %}">
        {% csrf_token %}
       <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for income in incomes %}
                <tr>
                    <td>{{ income.date }}</td>
                    <td>{{ income.amount }}</td>
                    <td>{{ income.currency }}</td>
                    <td>{{ income.category.name }}</td>
              
                    <td>
                        <button type="submit" name="delete" value="{{ income.id }}" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No incomes available</td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
  <div class="text-center">
    <a class = "btn btn-primary " href="{% url 'add_income' %}">Add Income</a>
    <a class = "btn btn-primary " href="{% url 'home' %}">Back</a>
  </div>
</div>
</body>
</html>
