<h2>Login here</h2>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        body {
            padding: 20px;
        }
        h2 {
            margin-bottom: 20px;
            padding: 20px;
            max-width: 400px;
            margin: 0 auto;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
        }
        </style>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button class = "btn btn-primary " type="submit">Login</button>
</form>
